.parent{
    margin: 0;
    height: 100vh;
    width: match-parent;
    background-image: url("../../../assets/images/bg2.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}